@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Segoe UI', Roboto, sans-serif;
  color: #E2E8F0;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #0F172A;
}

::-webkit-scrollbar-thumb {
  background: #2A3446;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #00D2FF;
}